<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rud.mandeumtalk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- android:name 설정 -->
    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:nestedScrollingEnabled="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MandeumTalk"
        android:usesCleartextTraffic="true">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".auth.JoinActivity" />

        <activity android:name=".auth.IntroActivity" />

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakaob93470768a9eeb39d55aeda99225c0cf" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".board.BoardWriteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".board.BoardViewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".board.BoardEditActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".portfolioList.PortfolioShowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".contentsList.ContentsListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".contentsList.ContentsShowActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

    </application>
</manifest>